{% extends 'base.html.twig' %}

{% block title %}Carnet d"adresse - Jeux d'occaz{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <br>
        <a href="{{path('account_address_add')}}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
        <h1>Mes Adresses</h1>
        <a href="{{path('app_account')}}" class="btn btn-block btn-close-white">Retour à mon compte</a>
        <hr>
        {% if app.user.addresses|length == 0 %}
            <p>Vous n'avez pas encore d'adresse lié à votre compte, Veuillez en ajouter une. <a href=""></a></p>
        {% else %}
        <div class="row">
            <div class="col-md-4">
                {% for address in app.user.addresses %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{address.name}}</h5>
                            <p class="card-text">{{address.address}} <br/>
                                {{address.zip}} - {{address.city}} - {{address.country}}
                            </p>
                            <a href="{{path('account_address_edit', {'id': address.id})}}" class="btn btn-primary">Modifier l'adresse</a>
                                ||
                            <a href="{{path('account_address_delete', {'id': address.id})}}" class="btn btn-danger">Supprimer l'adresse</a>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}"></script>

    <script>
    window.addEventListener('DOMContentLoaded', function() {
        
        AOS.init();
    });

    </script>
{% endblock %}