{% extends 'base.html.twig' %}

{% block title %}Mon compte - Gaminggeek!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Mon compte</h1>
            <br>
            <h2>Que voulez vous faire <span style='color: #3299FF;'>{{app.user.pseudo}} </span>?</h2>
            <br>
            <div>
                <div class="card">
                    <div class="card-header">
                        Mes commandes
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{user.pseudo}}</h5>
                        <p class="card-text">{{user.firstName}} {{user.lastName}}</p>
                        <a href="{{path('account_order')}}" class="btn btn-primary">Mes commandes de jeux vidéo</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Mes Jeux
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{user.pseudo}}</h5>
                        <p class="card-text">{{user.firstName}} {{user.lastName}}</p>
                        <a href="{{path('jeuxvideo')}}" class="btn btn-primary">Mes jeux vidéo en vente</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Mes Adresses
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{user.pseudo}}</h5>
                        <p class="card-text">{{user.firstName}} {{user.lastName}}</p>
                        <a href="{{path('account_address')}}" class="btn btn-primary">Mes adresses</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}"></script>

    <script>
    window.addEventListener('DOMContentLoaded', function() {
        
        AOS.init();
    });

    </script>
{% endblock %}