{% extends 'base.html.twig' %}

{% block title %}Mon compte - Gaminggeek!{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
        <br>
            <h1>Mon mot de passe</h1>
            <br>
            <h2>Changez votre mot de passe {{app.user.firstName}} !</h2>
            <br>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <div>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                        retourner au près de nos jeux vidéo
                        <a href="{{path('accueil')}}">Jeux vidéo</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
