{% extends 'base.html.twig' %}

{% block title %}Jeux video d occaz{% endblock %}

{% block body %}

    <div class="row">
<div class="container">
        <h1>Jeux video d'occasion</h1>
        <h2>Jeux d'occaz</h2>
        
        {% set active = 'active' %}
        {% set first = 0 + 1 %}

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                {% for carousel in jeuxCarousel %}
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="{% if loop.index == 1 %} active {% endif %}"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                            <img class="d-block w-100" src="{{asset(carousel.coverImage)}}" alt="First slide">
                        </div>
                    </div>
                {% endfor %}
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <hr>  
            <div>
                <div class="row col-md-12 py-5">
                {% for jeux in paginator.data %}
                    {% if jeux|length < 0 %}
                        <h3>Il n'y a aucun jeux</h3>
                    {% else %}    
                        <div class="col-md-6 py-4">
                            <div class="card">
                                <img class="card-img-top" src="{{jeux.coverImage}}" alt="Card image cap">
                                <img class="card-img-top" src="{{vich_uploader_asset(jeux, 'imageFile')}}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{jeux.name}}</h5>
                                    <p class="card-text">{{jeux.description|raw}}</p>
                                    <a href="{{path('article_show', {'slug': jeux.slug})}}" class="btn btn-primary">{{(jeux.price / 100 )|number_format(2, ',', '.')}} €</a>
                                    {% for categorie in jeux.categories %}
                                    <a href="{{path('article_show', {'slug': jeux.slug})}}"><img src="{{asset(categorie.image)}}" alt="{{categorie.name}}"  class="accueil-img img-fluid"></a>
                                    {% endfor %}
                                    
                                    <a href="{{path('article_show', {'slug': jeux.slug})}}"><img src="{{jeux.user.avatar}}" alt="{{jeux.user.pseudo}}" height="50px"></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            
            <div>
                {{paginator.displayPaginator()}}
            </div>
        
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.carousel').carousel({
            interval: 2000
        });
    </script>
{% endblock %}