{% extends 'base.html.twig' %}

{% block title %}Jeux video d occaz{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1>Jeux video d'occasion</h1>
        <h2>Jeux d'occaz</h2>
        <div class="jeux-cont">
        {% set active = 'active' %}
        {% set first = 0 + 1 %}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="{% if active == null ? '' : 'active' %}{% endif %}"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
            {% for carousel in jeuxCarousel %}
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{asset(carousel.coverImage)}}" alt="First slide">
                </div>
            {% endfor %}
            </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        <hr>  
            {% for jeux in jeuxvideo %}
            {% if jeux|length < 0 %}
                <h3>Il n'y a aucun jeux</h3>
            {% else %}
                
                <div class="col-md-4">
                    <div class="jeux-item">
                        <a href="{{path('article_show', {'slug': jeux.slug})}}"><img src="{{ vich_uploader_asset(jeux, 'imageFile', 'App\\Entity\\Jeuxvideo') }}" alt="{{ jeux.name }}" class="accueil-img img-fluid"/></a>
                        {# la filtre number_format est une fonction qui permet de formater un nombre , 
                        le 2 représente le nombre de décimal après la virgule
                        le point décimal et le séparateur de milliers à l'aide d'argument supplémentaire #}
                        <h5>{{jeux.name}} {{(jeux.price / 100)|number_format(2, ',', '.') }} €</h5>
                        <p class="jeux-description">{{jeux.description|raw}}</p>
                        <h6>Utilsateurs :</h6>
                        {# Affiche les images en fonction de l'environnement #}
                        {% if app.environment == 'prod' %}
                            <a href=""><img src="{{ vich_uploader_asset(jeux, 'imageFile') }}" alt="{{ jeux.name }}" class="accueil-img img-fluid"/></a>
                        {% elseif app.environment == 'dev' %}
                            <a href=""><img src="/uploads/images{{asset(jeux.coverImage)}}" alt="{{jeux.name}}"  class="accueil-img img-fluid"></a>
                        {% else %}
                            <h3>Il n'y a pas d'image</h3>   
                        {% endif %}

                        <h4 class="jeux-user">{{jeux.user.firstName}} {{jeux.user.lastName}}</h4>
                        {% if app.environment == 'prod' %}
                            <a href=""><img src="{{vich_uploader_asset(user, 'imageFile')}}" alt="{{jeux.name}}"  class="accueil-img img-fluid"></a>
                        {% elseif app.environment == 'dev' %}
                            <a href=""><img src="{{jeux.user.avatar}}" alt="{{jeux.user.pseudo}}" height="50px"></a>
                        {% else %}
                            <h3>Il n'y a pas d'image</h3>   
                        {% endif %}
                        <h6>Categorie :</h6>
                        {% for categorie in jeux.categories %}
                            <h4 class="jeux-categorie">{{categorie.name}}</h4>

                            
                            {% if app.environment == 'prod' %}
                                <a href=""><img src="{{ vich_uploader_asset(categorie, 'imageFile') }}" alt="{{ jeux.name }}" class="accueil-img img-fluid"/></a>
                            {% elseif app.environment == 'dev' %}
                                <a href=""><img src="/uploads/categories{{asset(categorie.image)}}" alt="{{categorie.name}}"  class="accueil-img img-fluid"></a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque magnam laboriosam beatae aut repudiandae vitae inventore error repellat exercitationem? Possimus fuga nobis quasi earum nisi ipsam sunt, veritatis nam nesciunt?</p>
                            {% else %}
                                <h3>Celà ne nous regarde pas (il n'y pas d'image categorie)</h3>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
