{% extends 'base.html.twig' %}

{% block title %}Jeux videos d'occasion{% endblock %}

{% block body %}

{# 
<div class="row">
    <div class="container">
        <h1>Jeux video d'occasion</h1>
        <h2>Jeux d'occaz</h2>
        <div class="jeux-cont">
            {% for jeux in jeuxvideo %}
                <div class="col-md-4">
                    <div class="jeux-item">
                        <a href="{{path('article_show', {'slug': jeux.slug})}}"><img src="{{ vich_uploader_asset(jeux, 'imageFile', 'App\\Entity\\Jeuxvideo') }}" alt="{{ jeux.name }}" class="accueil-img img-fluid"/></a> 
                        <h5>{{jeux.name}} {{(jeux.price / 100)|number_format(2, ',', '.') }} €</h5>
                        <p class="jeux-description">{{jeux.description|raw}}</p>
                        <h6>Utilsateurs :</h6>
                        <h4 class="jeux-user">{{jeux.user.firstName}} {{jeux.user.lastName}} </h4>
                        <img src="{{jeux.user.avatar}}" alt="{{jeux.user.pseudo}}" height="50px">
                        <h6>Categorie :</h6>
                        {% for categorie in jeux.categories %}
                            <h4 class="jeux-categorie">{{categorie.name}}</h4>
                            <a href=""><img src="{{ vich_uploader_asset(categorie, 'imageFile') }}" alt="{{ jeux.name }}" class="accueil-img img-fluid"/></a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div> #}

<div class="row">
    <div class="container">
    <br>
        <h1> Jeux d'occaz </h1>

    </div>
</div>
{% endblock %}
