{% extends 'base.html.twig' %}

{% block title %}gaming geek jeux video{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1>Gaming Geek Jeux Videos d'Occasions</h1>
        
    </div>
</div>
{# <div class="container-fluid">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for carousel in jeuxCarousel %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index0}}" 
                        {% if loop.first %}
                            class="active"
                        {% endif %} 
                            aria-current="true" aria-label="{{loop.index0}}">
                    </button>
                {% endfor %}
            </div>

            <div class="carousel-inner">
                {% for carousel in jeuxCarousel %}
                    <div class="carousel-item {% if loop.first  %} active {% endif %}">
                        <img src="/uploads/images/{{carousel.coverImage}}" class="carousel-container" alt="image caroussel de jeux video">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div> #}

<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for carousel in jeuxCarousel %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index0}}" 
                        {% if loop.first %}
                            class="active"
                        {% endif %} 
                            aria-current="true" aria-label="{{loop.index0}}">
                    </button>
                {% endfor %}
            </div>

            <div class="carousel-inner">
                {% for carousel in jeuxCarousel %}
                    <div class="carousel-item {% if loop.first  %} active {% endif %}">
                        <img src="{{asset('/uploads/images/' ~ carousel.coverImage ~ '')}}" class="carousel-container" alt="image caroussel de jeux video">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
    <hr>
<div class="paginator">
    {{paginator.displayPaginator()}}
</div>
<hr>
        <div>
        <h2>Les jeux du moment</h2>
                <div class="row col-md-12 py-5">
                {% for jeux in paginator.data %}
                    {% if jeux|length < 0 %}
                        <h2>Il n'y a aucun jeux</h2>
                    {% else %}
                        <div class="col-md-4 py-4 card-image">
                            <div class="card">
                                {# <a href="{{path('article_show', {'slug': jeux.slug})}}"><img class="card-img-top handle-link" src="{{jeux.coverImage}}" alt="{{jeux.name}}"></a> #}
                                <a href="{{path('article_show', {'slug': jeux.slug})}}"><img class="card-img-top handle-link" src="{{vich_uploader_asset(jeux, 'imageFile')}}" alt="Card image cap"></a>
                                <div class="card-body">
                                    <h3 class="card-title"><a class="handle-link" href="{{path('article_show', {'slug': jeux.slug})}}">{{jeux.name}}</a></h3>
                                    <p class="card-text"><a class="handle-link" href="{{path('article_show', {'slug': jeux.slug})}}">{{jeux.description|raw|slice(0, 40)}}...</a></p>
                                    <a href="{{path('article_show', {'slug': jeux.slug})}}" class="btn btn-primary">{{(jeux.price)|number_format(2, ',', '.')}} €</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="pagination">
                {{paginator.displayPaginator()}}
            </div>
        
    </div>
</div>                

{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}">
        
    </script>

    <script>
    window.addEventListener('DOMContentLoaded', function(e) {
        var myCarousel = document.querySelector('#myCarousel')
        var carousel = new bootstrap.Carousel(myCarousel, {
        interval: 2000,
        wrap: false
        })

    });

    </script>
{% endblock %}