{% extends 'base.html.twig' %}

{% block title %}gaming geek jeux video{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1 data-aos="fade-right"
            data-aos-offset="500"
            data-aos-easing="ease-in-sine">Gaming Geek Jeux Videos d'Occasions</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
    {% set active = "active" %}
    {% set first = 0 + 1 %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">            
    <div class="carousel-indicators">
                {% for jeux in jeuxvideos %}
                {% if jeux|length < 0 %}
                        <h2>Il n'y a aucun jeux</h2>
                    {% else %}
                    <button class="carousel-indicator{% if loop.first %}
                            active
                        {% endif %} " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index0}}" 
                        
                            aria-current="true" aria-label="{{loop.index0}}">
                    </button>
                {% endif %}
                {% endfor %}
            </div>

            <div class="carousel-inner">
                {% for jeuxvideo in jeuxvideos %}
                    <div class="carousel-item {% if loop.first == 1 %} active {% endif %}">
                        <img src="/uploads/images/{{jeuxvideo.coverImage}}" class="carousel-container" alt="{{jeuxvideo.name}}">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
    <hr>
<div class="paginator">
    {{paginator.displayPaginator()}}
</div>
<hr>
        <div>
            <h2 data-aos="zoom-out-right">Les jeux du moment</h2>
                <div class="row col-md-12 py-5">
                {% for jeux in paginator.data %}
                    {% if jeux|length < 0 %}
                        <h2>Il n'y a aucun jeux</h2>
                    {% else %}
                        <div class="col-md-4 py-4 card-image">
                            <div class="card">
                                <a href="{{path('article_show', {'slug': jeux.slug})}}">
                                    <img data-aos="zoom-in" class="card-img-top handle-link" src="{{vich_uploader_asset(jeux, 'imageFile')}}" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <h3 class="card-title"><a class="handle-link" href="{{path('article_show', {'slug': jeux.slug})}}">{{jeux.name}}</a></h3>
                                    <p class="card-text"><a class="handle-link" href="{{path('article_show', {'slug': jeux.slug})}}">{{jeux.description|raw|slice(0, 40)}}...</a></p>
                                    <a href="{{path('article_show', {'slug': jeux.slug})}}" class="btn btn-primary">{{(jeux.price)|number_format(2, '.', ',')}} €</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="pagination">
                {{paginator.displayPaginator()}}
            </div>
        
    </div>
</div>                

{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}"></script>

    <script>
    window.addEventListener('DOMContentLoaded', function() {
        var myCarousel = document.querySelector('#carouselExampleIndicators')
        var carousel = new bootstrap.Carousel(myCarousel, {
        interval: 5000,
        wrap: false
        });
        AOS.init();
    });

    </script>
{% endblock %}