{% extends 'base.html.twig' %}

{% block title %}gaming geek jeux video{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1>Jeux video d'occasion</h1>
        <h2>Jeux d'occaz</h2>
        
        {% set active = 'active' %}
        {% set first = 0 + 1 %}

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                {% for carousel in jeuxCarousel %}
                    
                    <div class="carousel-item {% if loop.first == 1 %} active {% endif %}">
                        <img class="d-block w-100" src="{{carousel.coverImage}}" alt="First slide">
                    </div>
                {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            
            <hr>
            <div>
                {{paginator.displayPaginator()}}
            </div>
            <hr>
            <div>
                <div class="row col-md-12 py-5">
                {% for jeux in paginator.data %}
                    {% if jeux|length < 0 %}
                        <h3>Il n'y a aucun jeux</h3>
                    {% else %}    
                        <div class="col-md-6 py-4">
                            <div class="card">
                                <a href=""><img class="card-img-top" src="{{jeux.coverImage}}" alt="Card image cap"></a>
                                <img class="card-img-top" src="{{vich_uploader_asset(jeux, 'imageFile')}}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{jeux.name}}</h5>
                                    <p class="card-text">{{jeux.description|raw}}</p>
                                    <a href="{{path('article_show', {'slug': jeux.slug})}}" class="btn btn-primary">{{(jeux.price)|number_format(2, ',', '.')}} €</a>
                                    {% for categorie in jeux.categories %}
                                    <h3>Catégories : </h3>
                                    <a href="{{path('article_show', {'slug': jeux.slug})}}"><img src="{{vich_uploader_asset(categorie, 'imageFile')}}" alt="{{categorie.name}}"  class="accueil-img img-fluid"></a>
                                    {% endfor %}
                                    <h3>Utilisateur : </h3>
                                    <a href="{{path('article_show', {'slug': jeux.slug})}}"><img src="{{jeux.user.avatar}}" alt="{{jeux.user.pseudo}}" height="50px"></a>
                                    {% for comment in jeux.comments %}
                                        <h3>Commentaires : </h3>
                                        <h4>{{comment.title}}</h4>
                                        <a href="{{path('article_show', {'slug': jeux.slug})}}">
                                                
                                            <p>{{comment.comment|raw}}</p>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            
            <div>
                {{paginator.displayPaginator()}}
            </div>
        
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}">
        
    </script>
{% endblock %}