{% extends "base.html.twig" %}

{% block title %} Créez votre article de Jeux Vidéo ! {% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
        <div class="row">
            <br>
            <a href="{{path('app_account')}}" class= "btn btn-outline-primary"><i class="fas fa-angle-double-left"></i>Retour</a>
            <br>
            <h1 data-aos="fade-right">Créer l'article du siècle !</h1>
            <br>
            <div>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.imageFile) }}
                {{ form_row(form.platform)}}
                {{ form_row(form.price) }}
                {{ form_row(form.description) }}

                {{ form_row(form.categories) }}
                
                {{ form_row(form.comments) }}
                {{ form_end(form) }}
                
            </div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                    retourner au près de nos jeux vidéo 
                    <a href="{{path('accueil')}}">Jeux vidéo</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{asset('build/app.js')}}"></script>
<script type="text/javascript">

    $(document).ready(function(){
        
        AOS.init();
    })          
</script>
{% endblock %} 