{% extends "base.html.twig" %}

{% block title %}
    Créer Votre Article De Jeux Vidéo !
{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <h1>Créer l'article du siècle</h1>
            <div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                    retourner au près de nos jeux vidéo
                    <a href="{{path('accueil')}}">Jeux vidéo</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}