{% extends "base.html.twig" %}

{% block title %} Créez votre article de Jeux Vidéo ! {% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
        <div class="row">
            <br>
            <a href="{{path('account')}}" class= "btn btn-outline-primary"><i class="fas fa-angle-double-left"></i>Retour</a>
            <br>
            <h1>Créer l'article du siècle !</h1>
            <br>
            <div>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.imageFile) }}
                {{ form_row(form.price) }}
                {{ form_row(form.description) }}

                {{ form_row(form.categories) }}
                
                {{ form_row(form.comments) }}
                {{ form_end(form) }}
                
            </div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                    retourner au près de nos jeux vidéo
                    <a href="{{path('accueil')}}">Jeux vidéo</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block _jeuxvideo_categories_widget %}
    <p>Ici, Vous ajoutez vos catégorie</p>
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="new-categories">Nouvelle catégorie</button>
    </div>
{% endblock %}

{% block _jeuxvideo_categories_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _jeuxvideo_categories_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.image) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}


{% block _jeuxvideo_comments_widget %}
    <p>Ici, Vous ajoutez vos commentaires</p>
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="new-comments">Nouveau commentaire</button>
    </div>
{% endblock %}

{% block _jeuxvideo_comments_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _jeuxvideo_comments_entry_widget %}
    <div class="form-group">
        <div class="row">
            <div class="col">
                {{ form_widget(form.title) }}
            </div>
            <div class="col">
                {{ form_widget(form.comment) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const addCategorie = () => {
    const index = document.querySelector("#jeuxvideo_categories div.form-group").length;
    const tmpl = document.querySelector('#jeuxvideo_categories').data('prototype').replace(/__name__/g, index);
    document.querySelector('#jeuxvideo_categories').append(tmpl);
    console.log(tmpl);
}
// Je récupère les prototypes des entrées
// J'injecte le code au sein de la div
document.querySelector("#new-categories").addEventListener('click', addCategorie);

////////////////////////////////////////////////////////////////////////

const addComment = () => {
    const index = document.querySelector("#jeuxvideo_comments div.form-group").length;
    const tmpl2 = document.querySelector('#jeuxvideo_comments').data('prototype').replace(/__name__/g, index);
    console.log(tmpl2);
    // J'injecte le code au sein de la div
    document.querySelector('#jeuxvideo_comments').append(tmpl2);
}
// Je récupère les prototypes des entrées
document.querySelector("#new-comments").addEventListener('click', addComment);

function handleDeleteButtons() {
    document.querySelector('button[data-action="delete"]').addEventListener('click', function () {
        const target = this.dataset.target;
        document.querySelector(target).remove();
    })
}
handleDeleteButtons();

            
    </script>
{% endblock %}