{% extends "base.html.twig" %}

{% block title %}
    Mes Articles de Jeux Vidéo !
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <br>
        <a href="{{path('app_account')}}" class= "btn btn-outline-primary"><i class="fas fa-angle-double-left"></i>Retour</a>
        <br>
        <h1>Mes Jeux video</h1>
        <ul>
        {% for jeux in jeuxvideo %}
            <li>{{jeux.name}}</li>
            <li><img src="{{jeux.coverImage}}" alt="{{jeux.name}}"></li>
            <li><img src="{{vich_uploader_asset(jeux, 'imageFile')}}" alt="{{jeux.name}}"></li>
            <li>Prix : {{jeux.price}} €</li>
            <li>{{jeux.description|raw}}</li>
            {% for comment in jeux.comments %}
                
            <li>{{comment.comment}}</li>
            {% endfor %}
            <li>
                <div class="mesjeux-modif">
                    <button class="btn btn-outline-primary"><a href="{{path('edit_article', {'slug': jeux.slug})}}">Modifier le jeux {{jeux.name}}</a></button>
                    <button class="btn btn-danger"><a href="{{path('article_delete', {'slug': jeux.slug})}}">Supprimer le jeux {{jeux.name}}</a></button>
                </div>
            </li>
        {% endfor %}
        
        </ul>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
            retourner au près de nos jeux vidéo
            <a href="{{path('accueil')}}">Jeux vidéo</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}