{% extends 'base.html.twig' %}

{% block title %}Acheter {{jeuxvideo.name}} {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
            	<div class="col-4 img_show">
                    
					    <img class="article_show_img_principal" src="{{vich_uploader_asset(jeuxvideo, 'imageFile')}}" alt="{{jeuxvideo.name}}">
                    
					{# <img class="article_show_img_principal" src="{{asset(jeuxvideo.coverImage)}}" alt="{{jeuxvideo.name}}"> #}
				</div>
            	<div class="col-8">
					<h1 data-aos="fade-left">Acheter {{ jeuxvideo.name }} ! ✅</h1>
				
					<p>Prix : {{jeuxvideo.price|number_format(2, ',', '.')}} €</p>
					<p>Description : {{jeuxvideo.description|raw}}</p>
					<h2>Date de création : {{jeuxvideo.createdAt|date("m/d/Y")}} - mise à jour le {{jeuxvideo.updatedAt|date("m/d/Y")}}</h2>
					<button class="btn btn-success btn-block">
                        <a href="{{path('add_to_basket', {'id': jeuxvideo.id})}}" class="add_to_basket">Ajouter au panier : {{jeuxvideo.name}}</a>
                    </button>	
            	</div>
            </div>
        </div>
        <hr>
        <section>
            <h2>Pseudo : {{jeuxvideo.user.pseudo}}</h2>
        
            {% if jeuxvideo.user.avatar != null %}
                <img class="article_show_img_user" src="{{vich_uploader_asset(jeuxvideo.user, 'imageFile')}}" alt="{{jeuxvideo.user.pseudo}}">
            {% endif %}
            <hr>
            <div>
                {% if app.user.email == jeuxvideo.user.email %}
                    <div>
                        <p>Ce jeux vous appartient, vous pouvez le modifier ! ✅</p>
                        <button class="btn btn-danger"><a href="{{path('edit_article', {'slug': jeuxvideo.slug})}}">Modifier {{jeuxvideo.name}}</a></button>
                    </div>
                {% else %}
                    <div>
                        <p>Vous ne pouvez modifier cette article ! 🔐</p>
                    </div>
                {% endif %}
            </div>
        </section>
        <hr>

        <button class="btn btn-success"><a href="{{path('add_to_basket', {'id': jeuxvideo.id})}}" class="add_to_basket">Ajouter au panier {{jeuxvideo.name}}</a></button>
        <hr>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="dark">
            <div class="container py-4">
                <h2 class="h1 text-center" id="pageHeaderTitle" data-aos="zoom-in">Catégories {{jeuxvideo.name}}</h2>
                {% for categories in jeuxvideo.categories %}
                    <article class="postcard dark blue">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="{{vich_uploader_asset(categories, 'imageFile')}}" alt="{{categories.name}}" />
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title blue"><a href="#">{{categories.name}}</a></h1>
                            <div class="postcard__subtitle small">
                                <time datetime="2020-05-25 12:00:00">
                                    <i class="fas fa-calendar-alt mr-2"></i>{{categories.updatedAt|date("d:m:Y H:i")}}
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">{{jeuxvideo.name}}</div>
                            <ul class="postcard__tagbox">
                                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                                <li class="tag__item play blue">
                                    <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section>
        <div>
            
            <h2>Commentaires</h2>

            <div>
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.comment) }}
                {{ form_row(form.user) }}
                <button type="submit" class="btn btn-success">Poster un commentaire</button>
                {{ form_end(form) }}
            </div>
            <ul>
            {% for comment in jeuxvideo.comments %}
                <li>Titre: {{comment.title}} </li>
                <li>Commentaires :{{comment.comment}}</li>
                <li>Pseudo :{{comment.user.pseudo}}</li>
                <li>Date : {{comment.updatedAt|date("m/d/Y H:i")}}</li>
                <hr>
            {% endfor %}
            </ul>
        </div>
        </section>

        <section class="light">
            <div class="container py-2">
                <div class="h1 text-center text-dark" id="pageHeaderTitle" data-aos="fade-down">Commentaires {{jeuxvideo.name}}</div>
                {% for comments in jeuxvideo.comments %}
                    <article class="postcard light blue">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="{{vich_uploader_asset(comments.game, 'imageFile')}}" alt="{{comments.game.name}}" />
                        </a>
                        <div class="postcard__text t-dark">
                            <h1 class="postcard__title blue"><a href="#">{{comments.game.name}}</a></h1>
                            <div class="postcard__subtitle small">
                                <time datetime="2020-05-25 12:00:00">
                                    <i class="fas fa-calendar-alt mr-2"></i>{{comments.game.createdAt|date("m/d/Y H:i")}}
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">{{comments.comment|raw}}</div>
                            <ul class="postcard__tagbox">
                                <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                                <li class="tag__item play blue">
                                    <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}"></script>

    <script>
    window.addEventListener('DOMContentLoaded', function() {
        AOS.init();
    });

    </script>
{% endblock %}