{% extends 'base.html.twig' %}

{% block title %}Hello JeuxvideoController!{% endblock %}

{% block body %}

<div class="row">
    <div class="container">
        <h1> {{ jeuxvideo.name }} ! ✅</h1>
        <img src="{{vich_uploader_asset(jeuxvideo, 'imageFile')}}" alt="{{jeuxvideo.name}}">
        <p>{{jeuxvideo.price|number_format(2, '.', ',')}} €</p>
        <p>Description : {{jeuxvideo.description|raw}}</p>
        <h2>Date de création {{jeuxvideo.createdAt|date("m/d/Y")}} - mise à jour le {{jeuxvideo.updatedAt|date("m/d/Y")}}</h2>
        {% for jeux in jeuxvideo.categories %}
            <h2>Nom de la catégorie : {{jeux.name}}</h2>
            <img src="{{vich_uploader_asset(jeux, 'imageFile')}}" alt="{{jeux.name}}">
            <img src="{{asset(jeux.image)}}" alt="{{jeux.name}}">
        {% endfor %}

        <hr>
        
            <h3>Pseudo : {{jeuxvideo.user.pseudo}}</h3>
            
            {% if jeuxvideo.user.avatar != null %}
                <img src="{{asset(jeuxvideo.user.avatar)}}" alt="{{jeuxvideo.user.pseudo}}">
            {% endif %}

        <hr>

        <button class="btn btn-success"><a href="{{path('add_to_basket', {'id': jeuxvideo.id})}}" class="add_to_basket">Ajouter au panier {{jeuxvideo.name}}</a></button>
        <hr>
        <div>
            
            <h3>Commentaires</h3>

            <div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <ul>
            {% for comment in jeuxvideo.comments %}
                <li>Titre: {{comment.title}} </li>
                <li>Commentaires :{{comment.comment}}</li>
                <li>Pseudo :{{comment.user.pseudo}}</li>
                <li>Date : {{comment.updatedAt|date("m/d/Y H:i")}}</li>
                <hr>
            {% endfor %}
            </ul>
        </div>
        <div>
        {% if app.user.email == jeuxvideo.user.email %}
            <div>
                <button class="btn btn-danger"><a href="{{path('edit_article', {'slug': jeuxvideo.slug})}}">Modifier {{jeuxvideo.name}}</a></button>
            </div>
        {% else %}
            <div>
                <p>Vous ne pouvez modifier cette article</p>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
