{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Gaming Geek Dashboard' %}

{% block main %}
<div class="container">
  <div class="row">
    <h1>Dashboard des jeux d'occaz</h1>
    <section class="cards row">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{asset('build/images/user-3331256.svg')}}" alt="Card image cap" style="width: auto; height: 265px;">
        <div class="card-body">
          <h2>Nombre d'utilisateurs</h2>
          <p class="card-text">{{countAllUser[0]['userCount']}}</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{asset('build/images/signal-3655575.svg')}}" alt="Card image cap">
        <div class="card-body">
          <h2>Nombre de jeux vidéos</h2>
          <p class="card-text">{{countAllJeuxvideo[0]['jeuxvideoCount']}}</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{asset('build/images/app-6702045.svg')}}" alt="Card image cap">
        <div class="card-body">
          <h2>Nombre de catégories</h2>
          <p class="card-text">{{countAllCategorie[0]['categorieCount']}}</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{asset('build/images/comments-97860.svg')}}" alt="Card image cap">
        <div class="card-body">
          <h2>Nombre de commentaires</h2>
          <p class="card-text">{{countAllComment[0]['commentCount']}}</p>
        </div>
      </div>
    </section>

    <div class="row col-md-12 py-5">
      {% for jeux in jeuxvideo %}
        <div class="col-md-6">
          <div class="card">
            {# <img class="card-img-top" src="{{jeux.coverImage}}" alt="Card image cap"> #}
            <img class="card-img-top" src="{{vich_uploader_asset(jeux, 'imageFile')}}" alt="{{jeux.name}}">
            <div class="card-body">
              <h5 class="card-title">{{jeux.name}}</h5>
              <p class="card-text">{{jeux.description|raw}}</p>
              <a href="{{path('article_show', {'slug': jeux.slug})}}" class="btn btn-primary">{{jeux.price|number_format(2, ',', ' ')}} €</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  <script src="{{asset('build/app.js')}}"></script>
{% endblock %}