{% extends 'base.html.twig' %}

{% block title %}Console{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Console</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Image</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for platform in platforms %}
                <tr>
                    <td>{{ platform.id }}</td>
                    <td>{{ platform.name }}</td>
                    <td><img src="{{ vich_uploader_asset(platform, 'imageFile') }}" alt="{{ platform.name }}"></td>
                    <td>
                        <a href="{{ path('platform_show', {'id': platform.id}) }}">voir</a>
                        <a href="{{ path('platform_edit', {'id': platform.id}) }}">editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune plateforme</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('platform_new') }}">Crée une nouvelle console</a>
    </div>
</div>
    
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}"></script>

    <script>
    window.addEventListener('DOMContentLoaded', function() {
        AOS.init();
    });

    </script>
{% endblock %}