{% extends 'base.html.twig' %}

{% block title %}Mon panier - Jeux d'occaz{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <br>
            <a href="{{path('account')}}" class= "btn btn-outline-primary"><i class="fas fa-angle-double-left"></i>Retour</a>
            <br>
            <h1>Mon panier</h1>
            
            {% if basket|length > 0 %}
                
            
            {% set total = null %}
            <table class="table text-center"> 
                <thead>
                    <tr>
                        <th scope="col">Ref du produit</th>
                        <th scope="col">Image</th>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for product in basket %}
                    <tr>
                        <th scope="row">{{basket|length}}</th>
                        <td><img src="/uploads/images/{{product.jeuxvideo.coverImage}}" alt="{{product.jeuxvideo.name}}" height="55px"></td>
                        <td>{{product.jeuxvideo.name}}</td>
                        <td>
                            <a href="{{path('decrease_to_basket', {'id': product.jeuxvideo.id})}}">
                                <i class="fas fa-minus"></i>
                            </a>
                            {{product.quantity}}
                            <a href="{{path('add_to_basket', {'id': product.jeuxvideo.id})}}">
                                <i class="fas fa-cart-plus"></i>
                            </a>
                        </td>
                        <td>{{(product.jeuxvideo.price)|number_format(2, ',', '.')}} €</td>
                        <td>{{(((product.jeuxvideo.price) * product.quantity))|number_format(2, ',', '.')}} €</td>
                        <td> <a href="{{path('delete_to_basket', {'id': product.jeuxvideo.id})}}"> <i class="fas fa-trash"></i> </a> </td>
                    </tr>
                    <tr class="total">
                        <th scope="row">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td>{% set total = total + ((product.jeuxvideo.price) * product.quantity) %}</td>
                            <td></td>
                        </th>
                    </tr>    
                    {% endfor %}
                
                </tbody>
            </table>
            <div class="commande-title">
            Prix Total de la commande de jeux video est de : 
                {{total|number_format(2, ',', '.')}} €
            </div>

            <div>
                <div>
                    <a class="btn btn-success" href="{{path('order')}}">Passer la commande</a>
                </div>
            </div>
            {% else %}
                <hr>
                <p>Votre panier est vide</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
