{% extends 'base.html.twig' %}

{% block title %}Mon panier - Jeux d'occaz{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <h1>Mon panier</h1>
            <pre>
                {{ dump(basket) }}
            </pre>
            <div class="basket">
                <div>
                    <div class="col-sm-3 basket-title">Produit</div>
                    <div class="col-sm-3 basket-title">Quantité</div>
                    <div class="col-sm-3 basket-title">Prix</div>
                    <div class="col-sm-3 basket-title">Total</div>
                </div>

                <div>
                    {% for product in basket %}
                        <img src="/uploads/images/{{product.jeuxvideo.coverImage}}" alt="{{product.jeuxvideo.name}}" height="75px">
                        <div class="col-sm-3 basket-field"> {{product.jeuxvideo.name}} </div>
                        <div class="col-sm-3 basket-field"> {{product.quantity}} </div>
                        <div class="col-sm-3 basket-field"> {{(product.jeuxvideo.price / 100)|number_format(2, ',', '.')}}</div>
                        <div class="col-sm-3 basket-field"> {{((product.jeuxvideo.price * product.quantity)/100)|number_format(2, ',', '.')}} </div>
                    {% endfor %} 
                    
                </div>
            </div>
                
        </div>
    </div>
{% endblock %}
