{% extends 'base.html.twig' %}

{% block title %}Categorie de jeux video{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 data-aos="fade-right">Catégorie</h1>
        {% if categories|length == 0 %}
            <h2>Il n'y a pas de catégorie</h2>
        {% else %}
            <ul style="list-style-type: none;">
                {% for categorie in categories %}
                    <li><a href="{{path('app_categorie', {'slug': categorie.slug})}}">{{categorie.name}}</a></li>
                    <li><img src="{{vich_uploader_asset(categorie, 'imageFile')}}" alt="nom de l'image de la categorie : {{categorie.name}}"></li>
                    <li>Crée le : {{categorie.updatedAt|date("m/d/Y H:i")}}</li>
                    <hr>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}"></script>

    <script>
    window.addEventListener('DOMContentLoaded', function() {
        AOS.init();
    });

    </script>
{% endblock %}