{% extends 'base.html.twig' %}

{% block title %}Categorie de jeux video{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 data-aos="fade-right" class="categorie_title">Catégorie</h1>
        {% if categories|length == 0 %}
            <h2>Il n'y a pas de catégorie</h2>
        {% else %}
                {% for categorie in categories %}
                    <div class="col-sm-4">
                        <div><a href="{{path('app_categorie', {'slug': categorie.slug})}}">{{categorie.name}}</a></div>
                        <div><img src="{{vich_uploader_asset(categorie, 'imageFile')}}" alt="nom de l'image de la categorie : {{categorie.name}}" class="categorie_image"/></div>
                        <div>Crée le : {{categorie.updatedAt|date("m/d/Y H:i")}}</div>   
                    </div>
                {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}"></script>

    <script>
    window.addEventListener('DOMContentLoaded', function() {
        AOS.init();
    });

    </script>
{% endblock %}