
<header>
{# Si il y a un utilisateur non connecté alors afficher : #}
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
         <a class="navbar-brand" href="{{path('accueil')}}">GG - GEEK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('accueil')}}">Jeux d'occasion<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{{path('accueil')}}">
                    <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>


        {# Si il y a un utilisateur connecté alors afficher : #}
        {% if app.user %}
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon compte</button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{path('basket')}}">Mon Panier</a>
                    <a class="dropdown-item" href="{{path('create_article')}}">Mettre en vente mon jeux video</a>
                    <a class="dropdown-item" href="{{path('jeuxvideo', {'slug': app.user.slug})}}">Mes Jeux video</a>
                    <a class="dropdown-item" href="{{path('account_order')}}">Mes Commandes de jeux video</a>
                    <a class="dropdown-item" href="{{path('account_address')}}">Mes Adresses</a>
                    <a class="dropdown-item" href="{{path('account_change_password')}}">Changer le mot de passe</a>
                    <a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a>
                </div>
            </div>
            <a href="{{path('basket')}}"><i class="fas fa-cart-arrow-down"></i></a>
        {% endif %}
        {% if not app.user %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                    </li>
                </ul>
            {% endif %}
    </nav>
</header>
